$pink: #E8C1FA;
$purple: #95A5DE;
$blue: #B0F5EE;
$green: #98DE95;
$yellow: #FAF5A8;

$header_height: 50px;

#text_page{
    display:flex;
    .text_part {
        //display:inline-flex;
        display:flex;
        width:70vw;
        border: 5px solid $yellow;
        margin-top: 5px;
        margin-left: 5px;
        overflow: scroll;
        height:calc(100vh - $header_height - 20px);
        #text {
            padding: 50px;
            display:grid;
        }

    }
    #interpretation_part{
        overflow: scroll;
        width: 30vw;
        border: 5px solid $pink;
        margin-top: 5px;
        margin-right: 5px;
        h2{
            margin:10px;
        }
        .interpretation{
            padding-top:5px;
            h4{
                padding:10px;
                margin:10px;
                background-color: $blue;
                border-radius: 10px;

            }
            strong{
                margin-left:10px;
            }
            p{
                margin-left:20px;
                padding:10px;
            }
            background-color: white;
            transition:background-color 0.1s;
            &:nth-child(odd):hover{
                background-color: $purple;
            }
            &:nth-child(even):hover{
                background-color: $yellow;
            }

        }

    }
}

